body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .cmpny{
        display:flex;
        
    }

    .video-bg {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
    
    nav{
    
        color: black;
        margin-top: 0px; 
        padding: 5px;
        
        
           }
      .navbar li,ul{
        display: inline;
        cursor: pointer;
        text-decoration: none;
        
    }
    a:hover{
        color:rgb(150, 6, 6) ;
    }
    ul{
        margin-left: 650px;
    }
    body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Top bar */
.top-bar {
    background: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background: white;
    /*border-bottom: 1px solid #ddd;*/
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li {
    cursor: pointer;
    margin-left: 0;
    text-decoration: none;
    justify-content: space-evenly;
    gap: 10px;
    /*padding-right: 10px; */
    margin-right: 5px;
    
}

/*.icons span {
    margin-left: 15px;
    cursor: pointer;
}*/

.navbar a{
    text-decoration: none;
}
.navbar-links a:hover {
    color: #e4572e;
}
.head{
position: absolute;
top: 10px;
left: 100px;   
  text-decoration: none;  
color: purple;            
  font-size: 30px;        
  font-weight: bold;
  gap: 10px;    
} 

.backround{
    position: relative;
    top: 1500px;
}

